h2, h3, .favorite-icon{
    margin-top: 20px;
}

.bg-success{
    background-color: rgb(0, 51, 255);
    font-size: larger;
}

.formula{
    justify-content: center;
}

select.form-control {
    -moz-appearance: none;
     -webkit-appearance: none;
     appearance: none;
  }
/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }

  .bubble {
    display:inline-block;
    color:rgb(0, 0, 0);
    background:rgba(255, 255, 255, 0);
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
    cursor:pointer;
    vertical-align:middle;
    height: 30px;
    width: 60px;
    border-radius: 8%;
    padding: 2px;
    text-align: center;
}
  .bubble:hover {
    display:inline-block;
    color:rgb(255, 255, 255);
    background:rgb(25, 201, 207);
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    height: 30px;
    width: 60px;
    border-radius: 8%;
    padding: 2px;
    text-align: center;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.151);
}